@{
    ViewBag.Title = "AMI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>By Amitav Ghosh</h1>
   	      <img src="../images/ami1.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>River Of Smoke</h2>
                  <h3>RS.8755</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Amitav Ghosh</h1>
       	    <img src="../images/ami2.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>The Hungry Tide</h2>
                    <h3>RS.7435</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Amitav Ghosh</h1>
   	      <img src="../images/ami3.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>The Shadow Lines</h2>
                    <h3>RS.2165</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Amitav Ghosh</h1>
            	<img src="../images/ami4.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>In An Antique Land </h2>
                    <h3>RS.7455</h3>
                   <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    