@{
    ViewBag.Title = "david";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>By David Baldacci</h1>
   	      <img src="../images/di1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>The Innocent</h2>
                  <h3>RS.1505</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By David Baldacci</h1>
       	    <img src="../images/di2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Hell's Corner</h2>
                    <h3>RS.7525</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By David Baldacci</h1>
   	      <img src="../images/di3.jpg" alt="image" height="150" width="100"  />
                <div class="product_info">
                	<h2>Zero Day</h2>
                    <h3>RS.1985</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By David Baldacci</h1>
            	<img src="../images/di4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2> Total Control </h2>
                    <h3>RS.6365</h3>
                   <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    
