@{
    ViewBag.Title = "Faiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>By Faiz Ahmad Faiz</h1>
   	      <img src="../images/faiz1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Raat Di Raat</h2>
                  <h3>RS.2550</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Faiz Ahmad Faiz</h1>
       	    <img src="../images/faiz2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Dasht-e-Saba</h2>
                    <h3>RS.2565</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Faiz Ahmad Faiz</h1>
   	      <img src="../images/faiz3.jpg" alt="image" height="150" width="100"  />
                <div class="product_info">
                	<h2>100 Poems</h2>
                    <h3>RS.1325</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Faiz Ahmad Faiz</h1>
            	<img src="../images/faiz4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2> Sar War-e-Seena</h2>
                    <h3>RS.2301</h3>
                   <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    

