@{
    ViewBag.Title = "Lewis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>By C. S. Lewis</h1>
   	      <img src="../images/cs1.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>Till We Have Faces</h2>
                  <h3>RS.1105</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By C. S. Lewis</h1>
       	    <img src="../images/cs2.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>The Madician Twin</h2>
                    <h3>RS.5620</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By C. S. Lewis</h1>
   	      <img src="../images/cs3.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>Great Divorce</h2>
                    <h3>RS.2186</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By C. S. Lewis</h1>
            	<img src="../images/cs.jpg" alt="image" height="150" width="100"/>
                <div class="product_info">
                	<h2>Narnia </h2>
                    <h3>RS.8530</h3>
                   <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    
