@{
    ViewBag.Title = "Umaira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>By Umera Ahmed</h1>
   	      <img src="../images/uma1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Ammar Bale</h2>
                  <h3>RS.1000</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Umera Ahmed</h1>
       	    <img src="../images/uma2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Peer-e-kameel</h2>
                    <h3>RS.890</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Umera Ahmed</h1>
   	      <img src="../images/uma3.jpg" alt="image" height="150" width="100"  />
                <div class="product_info">
                	<h2>Doraha</h2>
                    <h3>RS.1200</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>By Umera Ahmed</h1>
            	<img src="../images/uma4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2> Zindage Gulzar Hai </h2>
                    <h3>RS.650</h3>
                   <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    


            