@{
    ViewBag.Title = "Art";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> ART & Entertainment</h1>
   	      <img src="../images/art1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>3D construction Modeling...</h2>
                  <h3>Rs.55</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> ART & Entertainment</h1>
       	    <img src="../images/art2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Mospeada...</h2>
                  <h3>Rs.110</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> ART & Entertainment</h1>
   	      <img src="../images/art3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>DICKENS...</h2>
                  <h3>Rs.150</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1> ART & Entertainment</h1>
            	<img src="../images/art4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Doodle Jump...</h2>
                  <h3>Rs.55</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     