@{
    ViewBag.Title = "Classic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> Classics </h1>
   	      <img src="../images/class1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>The Followship of the Ring</h2>
                  <h3>Rs.3800</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Classics </h1>
       	    <img src="../images/class2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Treasure Island</h2>
                  <h3>Rs.7800</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Classics </h1>
   	      <img src="../images/class3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Cindrella</h2>
                  <h3>Rs.1150</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1> Classics </h1>
            	<img src="../images/class4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>AESOP's.....</h2>
                  <h3>Rs.5225</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     