@{
    ViewBag.Title = "COMEDY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> Comedy & Comic </h1>
   	      <img src="../images/Come1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Comedy Techiques</h2>
                  <h3>Rs.1300</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Comedy & Comic </h1>
       	    <img src="../images/Come2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>FUNNY ....</h2>
                  <h3>Rs.900</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Comedy & Comic </h1>
   	      <img src="../images/Come3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Pokemon......</h2>
                  <h3>Rs.150</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1>Comedy & Comic  </h1>
            	<img src="../images/Come4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Howard Duck</h2>
                  <h3>Rs.550</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     