@{
    ViewBag.Title = "drama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> Drama & Poetry </h1>
   	      <img src="../images/poet1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Classic Poetry</h2>
                  <h3>Rs.1300</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Drama & Poetry </h1>
       	    <img src="../images/poet2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Drama of the Age</h2>
                  <h3>Rs.1100</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Drama & Poetry </h1>
   	      <img src="../images/poet3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Shakespeare A Life Of Drama</h2>
                  <h3>Rs.2150</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1> Drama & Poetry </h1>
            	<img src="../images/poet.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>The Sig Golden Of Poetry</h2>
                  <h3>Rs.5225</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     