@{
    ViewBag.Title = "FIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> Fitness  & Health</h1>
   	      <img src="../images/fit1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Fitness AND Health</h2>
                  <h3>Rs.500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Fitness  & Health</h1>
       	    <img src="../images/fit2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Fitness  Made Too Easy</h2>
                  <h3>Rs.1100</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>  Fitness  & Health</h1>
   	      <img src="../images/fit3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Health & Fitness  </h2>
                  <h3>Rs.2500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1>  Fitness  & Health</h1>
            	<img src="../images/fit4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Fitness Book</h2>
                  <h3>Rs.4500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     
