@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1>  History </h1>
   	      <img src="../images/his1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>We All got History</h2>
                  <h3>Rs.3300</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>  History </h1>
       	    <img src="../images/his2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>History The Definitive Visual</h2>
                  <h3>Rs.4100</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> History </h1>
   	      <img src="../images/his3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>A History of end of the World</h2>
                  <h3>Rs.2550</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1> History </h1>
            	<img src="../images/his4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>The History of the love</h2>
                  <h3>Rs.5225</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     
