@{
    ViewBag.Title = "RELIGON";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	<div class="templatemo_product_box" >
            	<h1> Religion & Spirituality</h1>
   	      <img src="../images/reli1.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2> World's Religion </h2>
                  <h3>Rs.3500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1> Religion & Spirituality</h1>
       	    <img src="../images/reli2.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Losing my Religion</h2>
                  <h3>Rs.7100</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>  Religion & Spirituality</h1>
   	      <img src="../images/reli3.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Religion Terror with ERROR</h2>
                  <h3>Rs.3500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                <h1>  Religion & Spirituality</h1>
            	<img src="../images/reli4.jpg" alt="image" height="150" width="100" />
                <div class="product_info">
                	<h2>Evolution and Religion</h2>
                  <h3>Rs.7500</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->

    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
     
