@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	
                	<h3>To Order in Bulk and Report Any Issue Please Contact Us</h3>
    <p>Email Address :  mcsf13m014@pucit.edu.pk</p><br />
    <p>Phone Number :  042-37123456</p><br />
    <p>Address : PUCIT-Old Campus Lahore</p><br />
                    
    
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
   
