@{
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function myFunction() {
        alert("You enter wrong number!");
    }
</script>


<h2>Enter your Number of Debit card</h2>
<p>Card Number</p><input id="Text1" type="text" />
<br />
<br />
<button onclick="myFunction()">Connect</button>